%section.py-24.relative.xl:mr-0.lg:mr-5.mr-0
  .w-full.max-w-7xl.px-4.md:px-5.lg:px-5.mx-auto
    .w-full.justify-start.items-center.xl:gap-12.gap-10.grid.lg:grid-cols-2.grid-cols-1
      .w-full.flex-col.justify-center.lg:items-start.items-center.gap-10.inline-flex
        .w-full.flex-col.justify-center.items-start.gap-8.flex
          .flex-col.justify-start.lg:items-start.items-center.gap-4.flex
            %h6.text-gray-400.text-base.font-normal.leading-relaxed About Us
            .w-full.flex-col.justify-start.lg:items-start.items-center.gap-3.flex
              %h2.text-indigo-700.text-4xl.font-bold.font-manrope.leading-normal.lg:text-start.text-center
                The Tale of Our Achievement Story
              %p.text-gray-500.text-base.font-normal.leading-relaxed.lg:text-start.text-center
                Our achievement story is a testament to teamwork and perseverance. Together, we've
                overcome challenges, celebrated victories, and created a narrative of progress and
                success.
          .w-full.flex-col.justify-center.items-start.gap-6.flex
            .w-full.justify-start.items-center.gap-8.grid.md:grid-cols-2.grid-cols-1
              .w-full.h-full.rounded-xl.border.border-gray-200.hover:border-gray-400.transition-all.duration-700.ease-in-out.flex-col.justify-start.items-start.inline-flex{:class => "p-3.5 gap-2.5"}
                %h4.text-gray-900.text-2xl.font-bold.font-manrope.leading-9 33+ Years
                %p.text-gray-500.text-base.font-normal.leading-relaxed
                  Influencing Digital
                  Landscapes Together
              .w-full.h-full.rounded-xl.border.border-gray-200.hover:border-gray-400.transition-all.duration-700.ease-in-out.flex-col.justify-start.items-start.inline-flex{:class => "p-3.5 gap-2.5"}
                %h4.text-gray-900.text-2xl.font-bold.font-manrope.leading-9
                  125+ Projects
                %p.text-gray-500.text-base.font-normal.leading-relaxed
                  Excellence Achieved
                  Through Success
            .w-full.h-full.justify-start.items-center.gap-8.grid.md:grid-cols-2.grid-cols-1
              .w-full.rounded-xl.border.border-gray-200.hover:border-gray-400.transition-all.duration-700.ease-in-out.flex-col.justify-start.items-start.inline-flex{:class => "p-3.5 gap-2.5"}
                %h4.text-gray-900.text-2xl.font-bold.font-manrope.leading-9 26+ Awards
                %p.text-gray-500.text-base.font-normal.leading-relaxed
                  Our Dedication to
                  Innovation Wins Understanding
              .w-full.h-full.rounded-xl.border.border-gray-200.hover:border-gray-400.transition-all.duration-700.ease-in-out.flex-col.justify-start.items-start.inline-flex{:class => "p-3.5 gap-2.5"}
                %h4.text-gray-900.text-2xl.font-bold.font-manrope.leading-9
                  99% Happy
                  Clients
                %p.text-gray-500.text-base.font-normal.leading-relaxed
                  Mirrors our Focus on
                  Client Satisfaction.
        %button.sm:w-fit.w-full.group.py-2.bg-indigo-50.hover:bg-indigo-100.rounded-lg.transition-all.duration-700.ease-in-out.justify-center.items-center.flex{:class => "px-3.5 shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)]"}
          %span.text-indigo-600.text-sm.font-medium.leading-6.transition-all.duration-700.ease-in-out{:class => "px-1.5 group-hover:-translate-x-0.5"}
            Read
            More
          %svg.transition-all.duration-700.ease-in-out{:class => "group-hover:translate-x-0.5", :fill => "none", :height => "18", :viewbox => "0 0 18 18", :width => "18", :xmlns => "http://www.w3.org/2000/svg"}
            %path{:d => "M6.75265 4.49658L11.2528 8.99677L6.75 13.4996", :stroke => "#4F46E5", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "1.6"}
      .w-full.lg:justify-start.justify-center.items-start.flex
        .w-full.h-full.sm:bg-gray-100.rounded-3xl.sm:border.border-gray-200.relative{:class => "sm:w-[564px] sm:h-[646px]"}
          %img.sm:mt-5.sm:ml-5.w-full.h-full.rounded-3xl.object-cover{:alt => "about Us image", :src => "https://pagedone.io/asset/uploads/1717742431.png"}/
